@import "./globals.scss";

.container {
  width: 100vw;

  // NAVBAR SECTION
  .navbar {
    padding: 2em 3.2em 0em 2.5em;
    justify-content: space-between;
    font-family: $fraunces;
    width: 100vw;
    // position: sticky;
    position: fixed;
    color: white;

    .logo {
      // flex: 1;
      font-family: $barlow;
      font-weight: 900;
      font-size: 2.4em;
      &:hover {
        color: darkslategray;
      }
    }

    .menuContainer {
      // outline: 1px solid black;
      width: 32.5vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      // padding-right: 10px;
      .notchContainer {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        font-family: $barlow;
        display: flex;
        justify-content: space-between;
        width: 100%;
        li {
          // width: 9vw;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.17em;
          &:hover {
            color: grey;
          }
          &:last-child {
            background-color: white;
            border-radius: 50px;
            width: 9.5vw;
            color: grey;
            font-family: $fraunces;
            padding: 1em 0em;
            font-size: 1em;
            &:hover {
              background-color: rgb(50, 160, 46);
              color: white;
            }
          }
        }
      }

      @include mobile {
        // outline: 1px solid black;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: clamp(16em, 30vh, 20em);
        // background-color: white;
        margin: clamp(5em, 10vh, 20em) 5vw 0vw 5vw;
        .notchContainer {
          display: flex;
          justify-content: flex-end;
          position: relative;

          .notch {
            border-bottom: 10vw solid white;
            border-left: 10vw solid transparent;
          }
        }
        ul {
          background-color: white;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          padding: 2vw 0vw;
          // margin-top: 5vw;
          list-style: none;
          li {
            // outline: 1px solid black;
            padding: 3vw 4vw;
            font-family: $barlow;
            font-weight: $barlow-weight-600;
            color: grey;
            &:last-child {
              background-color: yellowgreen;
              border-radius: 25px;
              font-family: $fraunces;
              font-weight: 100;
              font-size: 0.5em;
            }
          }
        }
      }
    }
  }

  // HERO SECTION
  .hero {
    height: 100vh;
    width: 100vw;
    color: $white;
    background-image: url("./images/desktop/image-header.jpg");
    background-position: bottom;
    background-size: cover;
    @include mobile {
      background-image: url("./images/mobile/image-header.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #3ebfff;
    }

    .title {
      padding: 23vh 0;
      text-align: center;
      font-size: 2.5em;
      letter-spacing: 0.2em;
      font-family: $fraunces;
    }
  }

  // INFO CARDS
  .info {
    // flex-direction: row;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
    }

    #eggImg {
      background-image: url("./images/desktop/image-transform.jpg");
      background-position: top;
      background-size: cover;
    }
    #cupImg {
      background-image: url("./images/desktop/image-stand-out.jpg");
      background-position: top;
      background-size: cover;
    }

    .tile {
      // the dimensions of all tiles will be the same as the pics
      width: 50vw;
      height: 50vw;
      @include mobile {
        width: 100vw;
        height: calc(100vh - 100vw);
      }
    }

    .text {
      // border: 2px solid coral;
      padding: 15% 9% 13% 11.5%;
      h2 {
        color: black;
        font-family: $fraunces;
        font-weight: $fraunces-weight-900;
        font-size: 2.5em;
        margin-bottom: 0.9em;
      }
      p {
        font-family: $barlow;
        font-weight: $barlow-weight-600;
        color: grey;
        font-size: $text-size;
        line-height: 1.5em;
        margin-bottom: 1em;
      }
      a {
        font-family: $fraunces;
        font-weight: $fraunces-weight-900;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        margin-left: 10px;
      }
    }
    .img {
      width: 50vw;
      height: 50vw;
      @include mobile {
        width: 100vw;
        height: 100vw;
      }
    }
  }

  // SERVICES SECTION
  .services {
    // height: 60vh;
    // border: 2px solid red;
    @include mobile {
      flex-direction: column;
    }
    #graphicDesign {
      background-image: url("./images/desktop/image-graphic-design.jpg");
      background-position: top;
      background-size: cover;
      @include mobile {
        background-size: 200vw;
      }
    }
    #photography {
      background-image: url("./images/desktop/image-photography.jpg");
      background-position: top;
      background-size: cover;
      @include mobile {
        background-size: 200vw;
      }
    }
    .card {
      height: calc(100vw / 2);
      width: calc(100vw / 2);
      justify-content: flex-end;
      @include mobile {
        width: 100vw;
        height: calc(200vw * 0.83);
      }

      .text {
        z-index: 2;
        font-family: $fraunces;
        font-weight: $fraunces-weight-700;
      }
    }
  }

  // TESTIMONIALS
  .testimonials {
    padding: 5% 10%;
    @include mobile {
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .title {
      text-align: center;
    }

    .wrapper {
      outline: 1px solid red;
      justify-content: space-evenly;
      height: 90vh;
      @include mobile {
        flex-direction: column;
        height: auto;
      }
      .clientCard {
        outline: 1px solid blue;
        width: 20vw;
        @include mobile {
          width: 90vw;
        }
        img {
          width: 5vw;
          height: 5vw;
          border-radius: 50%;
          margin: 20px 0px;
        }
        #EmilyB {
          background-image: url("./images/image-emily.jpg");
          background-size: cover;
        }
        #ThomasS {
          background-image: url("./images/image-thomas.jpg");
          background-size: cover;
        }
        #JennieF {
          background-image: url("./images/image-jennie.jpg");
          background-size: cover;
        }

        .clientComment {
          padding: 3em 4em;
          @include mobile {
            padding: 0;
          }
        }
        .clientName {
        }
        .clientRole {
          padding: 1em;
          @include mobile {
            padding: 0;
          }
        }
      }
    }
  }

  // GALLERY
  .gallery {
    // height: 100vh;
    // background-color: red;
    flex-wrap: wrap;
    .galleryImg {
      width: 25vw;
      // keep the 1.24 aspect ratio of the images
      height: calc(25vw * 1.24);
      // outline: 1px solid blue;
      border: none;
      outline: none;
      @include mobile {
        width: 50vw;
        height: calc(50vw * 1.24);
      }
    }
    #milkImg {
      background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
      background-size: cover;
    }
    #orangeImg {
      background-image: url("./images/desktop/image-gallery-orange.jpg");
      background-size: cover;
    }
    #coneImg {
      background-image: url("./images/desktop/image-gallery-cone.jpg");
      background-size: contain;
    }
    #sugarcubesImg {
      background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
      background-size: contain;
    }
  }

  // FOOTER
  .footer {
    height: 20vw;
    background-color: $primaryTeal;
    @include mobile {
      // make the gallery and footer fill the screen exactly!
      height: calc(100vh - (2 * 50vw * 1.24));
    }
  }
}

.grid {
  display: grid;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
