  .info {
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    // height: 120vh;
    // width: calc(720px * 2);
    flex-wrap: wrap;

    #eggImg {
      background-image: url("./images/desktop/image-transform.jpg");
      background-position: top;
      background-size: cover;
    }
    #cupImg {
      background-image: url("./images/desktop/image-stand-out.jpg");
      background-position: top;
      background-size: cover;
    }

    .tile {
      // the dimensions of all tiles will be the same as the pics
      width: calc(100vw / 2);
      height: calc(100vw / 2);
      .img {
      }
      .text {
        // border: 2px solid coral;
        h2 {
          color: black;
        }
      }
    }
  }

  .services {
    // height: 60vh;
    // border: 2px solid red;
    #graphicDesign {
      background-image: url("./images/desktop/image-graphic-design.jpg");
      background-position: top;
      background-size: cover;
    }
    #photography {
      background-image: url("./images/desktop/image-photography.jpg");
      background-position: top;
      background-size: cover;
    }
    .card {
      height: calc(100vw / 2);
      width: calc(100vw / 2);
      justify-content: flex-end;

      .text {
        z-index: 2;
        font-family: $fraunces;
        font-weight: $fraunces-weight-700;
      }
    }
  }

.grid {
  display: grid;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
