$mobileWidth: 375px;
$desktopWidth: 1440px;

//// Colors ////
$primaryRed: hsl(7, 99%, 70%);
$primaryYellow: hsl(51, 100%, 49%);
// graphic design text
$primaryDarkTeal: hsl(167, 40%, 24%);
// footer
$primaryTeal: hsl(166, 32%, 59%);
// photo text
$primaryDarkBlue: hsl(198, 62%, 26%);

$neutralVeryDarkBlue: hsl(212, 27%, 19%);
$neutralveryDarkGrayishBlue: hsl(213, 9%, 39%);
$neutralDarkGrayishBlue: hsl(232, 10%, 55%);
$neutralGrayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//// fonts ////

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:wght@700;900&display=swap");

// barlow
$text-size: 18px;
$barlow: "Barlow", sans-serif;
$barlow-weight-600: 600;
// fraunces
$fraunces: "Fraunces", sans-serif;
$fraunces-weight-700: 700;
$fraunces-weight-900: 900;

//// Font sizes ////

$navbarLogo: 2vw;
$navbarLink: 2vw;
$navbarContact: 2vw;

$heroHeader: 3vw;

$infoCardHeaderSize: 3vw;
$infoCardTextSize: 2vw;
$infoCardLinksize: 3vw;

$servicesHeaderSize: 2vw;
$servicesTextSize: 1vw;

$testimonialsHeader: 3vw;
$testimonialCardName: 2vw;
$testimonialCardText: 1vw;
$testimonialCardRole: 1vw;

$footerHeader: 2vw;
$footerLink: 2vw;
$footerIcon: 2vw;

//// Mixins ////
@mixin mobile {
  @media (max-width: #{$mobileWidth}) {
    @content;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
